<div class="jumbotron">
  <div class="container banner-info">

    <h1 class="text-center">Parking Finder</h1>
    <p class="text-center">Whether you just want to find a parking space to rent or you want to buy the property itself, Parking finder is here to help you!</p>
    <p class="text-center"><%= link_to "Register &raquo".html_safe, new_user_registration_path, :class => "btn btn-primary btn-lg",
    :role => "button" %>
    </p>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h2>Buy a parking space</h2>
      <p>Parking properties are available for sale within the area of London.</p>
      <p><a class="btn btn-default" href="#" role="button">View listings &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>Find a parking space</h2>
      <p>Find a parking space in London with our unique navigation system.</p>
      <p><%= link_to "View areas &raquo;".html_safe, locations_path, :class => "btn btn-default", :role => "button" %></p>
   </div>
  </div>
  <hr>
</div> 




