
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Parking Finder</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container banner-info">
        <h1 class="text-center">Parking Finder</h1>
        <p class="text-center">Whether you just want to find a parking space to rent or you want to buy the property itself, Parking finder is here to help you!</p>
        <p class="text-center"><a class="btn btn-primary btn-lg" role="button">Register &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Buy a parking space</h2>
          <p>Parking properties are available for sale within the area of London.</p>
          <p><a class="btn btn-default" href="#" role="button">View listings &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Find a parking space</h2>
          <p>Find a parking space in London with our unique navigation system.</p>
          <p><a class="btn btn-default" href="#" role="button">View areas &raquo;</a></p>
       </div>
      </div>
      <hr>
    </div> 




