// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing{
  width:150px;
  height:150px;
  float:left;
  margin:2px;
  border:1px solid #000;
}