// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Colors
@import "partials/variables.css.scss";


.locations{
  margin-top:120px;
}


.location {
  color: #428bca;
  text-decoration: none;
  display: block;
  float:left;
  border: 1px solid #000;
  width: 188px;
  height: 188px;
  margin: 1px;
  text-align: center;
  line-height: 188px;
  font-size:20px;
  font-weight: 400;
  color:#fff;
  background-color:#3498db;

  &:hover{
    background-color:#000;
    text-decoration: none;
    color:$alizarin;
  }
}

#map-canvas{
  width:100%;
  height:400px;
}



=======
    color:#e74c3c;
  }
}

>>>>>>> 36aa12ae769f7bac2fda1c0a86bdc4699b1d187c
