<div class="container main">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @location.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <%= content_tag :div, id: "map-canvas", data: {latitude:@location.latitude, longitude:@location.longitude, parkings: @parkings} do %>
      <% end %>
    

    </div>
  </div>
</div>



